In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
matplotlib inline

In [6]:
df = pd.read_csv('test.csv')

In [7]:
df.head()

,Dielectric Constant,Dielectric Height (mm),Operational Frequency (GHz),Width (mm),length(mm)
0,0.331,6.31,2.9,63.36,57.83
1,0.332,6.32,2.9,63.34,57.79
2,0.333,6.33,2.9,63.31,57.76
3,0.334,6.34,2.9,63.29,57.72
4,0.335,6.35,2.9,63.27,57.69

In [8]:
df.columns

Index(['Dielectric Constant', 'Dielectric Height (mm)',
       'Operational Frequency (GHz)', 'Width (mm)', 'length(mm)'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669 entries, 0 to 1668
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Dielectric Constant          1669 non-null   float64
 1   Dielectric Height (mm)       1669 non-null   float64
 2   Operational Frequency (GHz)  1669 non-null   float64
 3   Width (mm)                   1669 non-null   float64
 4   length(mm)                   1648 non-null   float64
dtypes: float64(5)
memory usage: 65.3 KB

In [10]:
df.describe()

,Dielectric Constant,Dielectric Height (mm),Operational Frequency (GHz),Width (mm),length(mm)
count,1669.000000,1669.000000,1669.000000,1669.000000,1648.000000
mean,0.566438,4.415129,2.750869,62.550222,71.354630
std,0.267249,2.676170,0.171695,7.022016,76.797122
min,0.001000,0.010000,2.500000,45.330000,2.800000
25%,0.374000,2.090000,2.600000,57.310000,52.900000
50%,0.583000,4.180000,2.800000,61.680000,58.125000
75%,0.791000,6.920000,2.900000,66.870000,65.062500
max,1.000000,9.000000,3.000000,84.370000,2177.000000

In [11]:
df.shape

(1669, 5)

In [12]:
df.isnull().sum()

Dielectric Constant             0
Dielectric Height (mm)          0
Operational Frequency (GHz)     0
Width (mm)                      0
length(mm)                     21
dtype: int64

In [13]:
[features for features in df.columns if df[features].isnull().sum()>0]

['length(mm)']

In [14]:
df.columns

Index(['Dielectric Constant', 'Dielectric Height (mm)',
       'Operational Frequency (GHz)', 'Width (mm)', 'length(mm)'],
      dtype='object')

In [15]:
## check data type 
df.dtypes

Dielectric Constant            float64
Dielectric Height (mm)         float64
Operational Frequency (GHz)    float64
Width (mm)                     float64
length(mm)                     float64
dtype: object

In [29]:
# Making a list of missing value types
missing_values = ["n/a", "na", "missing"]
df = pd.read_csv("test.csv", na_values = missing_values)

In [30]:
df.replace(" ", np.nan, inplace = True)

#Check your data 
df.head()

,Dielectric Constant,Dielectric Height (mm),Operational Frequency (GHz),Width (mm),length(mm)
0,0.331,6.31,2.9,63.36,57.83
1,0.332,6.32,2.9,63.34,57.79
2,0.333,6.33,2.9,63.31,57.76
3,0.334,6.34,2.9,63.29,57.72
4,0.335,6.35,2.9,63.27,57.69

In [32]:
#Look at your missing data 
missing_data = df.isnull()
missing_data.head()

,Dielectric Constant,Dielectric Height (mm),Operational Frequency (GHz),Width (mm),length(mm)
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False

In [19]:
#Using a for loop in Python to figure out the number of missing values in each column
for column in missing_data.columns.values.tolist(): 
    print(column)
    print(missing_data[column].value_counts())
    print("")

Dielectric Constant
False    1669
Name: Dielectric Constant, dtype: int64

Dielectric Height (mm)
False    1669
Name: Dielectric Height (mm), dtype: int64

Operational Frequency (GHz)
False    1669
Name: Operational Frequency (GHz), dtype: int64

Width (mm)
False    1669
Name: Width (mm), dtype: int64

length(mm)
False    1648
True       21
Name: length(mm), dtype: int64

In [33]:
df.groupby(['Dielectric Constant','Width (mm)','Operational Frequency (GHz)','length(mm)','Dielectric Height (mm)']).size()

Dielectric Constant  Width (mm)  Operational Frequency (GHz)  length(mm)  Dielectric Height (mm)
0.001                70.63       3.0                          156.50      4.01                      1
0.002                70.59       3.0                          155.90      4.02                      1
0.003                70.56       3.0                          155.30      4.03                      1
0.004                70.52       3.0                          154.80      4.04                      1
0.005                70.49       3.0                          154.20      4.05                      1
                                                                                                   ..
0.998                51.71       2.9                          44.88       4.98                      1
                                                              46.20       3.98                      1
0.999                51.70       2.9                          44.85       4.99                      1
                                                              46.17       3.99                      1
1.000                49.97       3.0                          44.42       4.00                      1
Length: 1648, dtype: int64

In [34]:
[features for features in df.columns if df[features].isnull().sum()>0]

['length(mm)']

In [37]:
avg_value = df["length(mm)"].astype("float").mean(axis=0)
print("Average of length(mm):", avg_value)

Average of length(mm): 71.35463046116504

In [39]:
df["length(mm)"].replace(np.nan, avg_value, inplace = True)

In [40]:
[features for features in df.columns if df[features].isnull().sum()>0]

[]